<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="path" />
  <arg name="ld" />
  <arg name="vel" />
  <arg name="final_constant" />

  <include file="$(find rviz_visualization)/launch/rviz_school.launch">
    <arg name="path2" value="$(arg path)" />
  </include>

  <!-- <include file="$(find avoid_obstacle)/launch/avoid_obs.launch" /> -->

  <arg name="node_name" default="gps_front"/>
  <arg name="param_file_name" doc="name of param file, e.g. rover" default="nmea1"/>
  <arg name="output" default="screen" />
  <arg name="respawn" default="true" />
  <arg name="respawn_delay" default="30" />
  <arg name="clear_params" default="true" />

  <node pkg="ublox_gps" type="ublox_gps" name="$(arg node_name)"
        output="$(arg output)"
        clear_params="$(arg clear_params)"
        respawn="$(arg respawn)"
        respawn_delay="$(arg respawn_delay)">
    <rosparam command="load"
              file="$(find ublox_gps)/config/$(arg param_file_name).yaml" />
  </node>

  <node pkg="pure_pursuit" type="pure_pursuit" name="pure_pursuit" output="screen" args="$(arg path) $(arg ld) $(arg vel) $(arg final_constant)" />
  <node pkg="pure_pursuit" type="coordinate2pos" name="coordinate2pos" />
  <node pkg="utmk_coordinate" type="wgs84_to_utmk.py" name="wgs84_to_utmk" />

  <node pkg="race" type="serial_control_node" name="serial_control_node" />

</launch>
