<launch>
  <arg name="path" />
  <arg name="ld" />
  <arg name="vel" />
  <arg name="final_constant" />

  <node pkg="pure_pursuit" type="pure_pursuit" name="pure_pursuit" output="screen" args="$(arg path).txt $(arg ld) $(arg vel) $(arg final_constant)" />
  <node pkg="pure_pursuit" type="coordinate2pos" name="coordinate2pos" />
  <node pkg="utmk_coordinate" type="wgs84_to_utmk.py" name="wgs84_to_utmk" />

  <node pkg="race" type="serial_control_node" name="serial_control_node" />
</launch>
